<div class="container">
    <div class="image-container">
        <img src="http://68.media.tumblr.com/92a71d62ace9940f8ddd540400444fc4/tumblr_inline_mppo32jFBC1qz4rgp.png">
    </div>

    <div class="heading">
        <h1>
            We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience.
        </h1>
    </div>
</div>

<div class="container courses">
    <div class="col-md-7">
        <h2>Courses</h2>
        <p id="caption">Learn something new</p>
        <p>
            Every course on Coursera is taught by top instructors from world-class universities and companies, so you can learn something new anytime, anywhere. Courses include recorded video lectures, both auto-graded and peer-reviewed assignments, and community discussion forums. When you complete a course, you’ll receive a shareable electronic Course Certificate.
        </p>
        <ul>
            <li id="firstList">100% online</li>
            <li>Learn something new in 4-6 weeks</li>
        </ul>
        <ul>
            <li>Priced starting at about $39 (USD) with many available for free</li>
            <li>Earn a Course Certificate</li>
        </ul>
        <div class="findCourseBtnBox">
            <button id="findCourseBtn">Find a course</button>
        </div>
    </div>
</div>